


#lista1:hover {

    background-color: red;
    transition: all;
    font-size: 30px;

}



#lista2:hover {

    background-color: yellow;
    transition: all;
    font-size: 30px;

}



#lista3:hover {

    background-color: green;
    transition: all;
    font-size: 30px;

}


.col-4 {

    border: solid black;
    background-color: red;
    margin: 10px;
    padding: auto;
    width: auto;
    

}
    


.col-6 {
 
    border: solid black;
    background-color: yellow;
    margin: 20px;  
    padding: 20px;
    width: auto;
    

}


.col-12 {
 
    border: solid black;
    background-color: green;
    margin: 20px;
    padding: 20px;
    width: auto;
    

}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navbar {

    .navbar-expand-lg
    
    }
    


p {

    color: black;
    
        
    }
    


@media only screen and (max-width: 800px) {
    body {
      background-color: black;
      color:  white;


