
.p {

    font-size: 20px;
    color: black;
    background-color: white;


}


#lista1:hover {

    background-color: red;
    transition: all;
    font-size: 30px;

}



#lista2:hover {

    background-color: yellow;
    transition: all;
    font-size: 30px;

}



#lista3:hover {

    background-color: green;
    transition: all;
    font-size: 30px;

}


.col-4 {

    border-radius: 50px;
    border: solid black;
    background-color: red;
    
}
    


.col-6 {
 
    border-radius: 50px;
    border: solid black;
    background-color: yellow;


}


.col-12 {
 
    border-radius: 50px;
    border: solid black;
    background-color: green;


}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navbar {

    .navbar-expand-lg
    
    }
    




@media only screen and (max-width: 800px) {
    body {
      background-color: black;
      color:  white;


