



li:hover {

    background-color: red;
    transition: all;
    font-size: 80px;

}

.col-4 {

    border-radius: 50px;
    border: solid black;
    background-color: red;
    
}
    


.col-6 {
 
    border-radius: 50px;
    border: solid black;
    background-color: yellow;


}


.col-12 {
 
    border-radius: 50px;
    border: solid black;
    background-color: green;


}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navbar {

    .navbar-expand-lg
    
    }
    




@media only screen and (max-width: 800px) {
    body {
      background-color: black;
      color:  white;


