


.footer {
    
    position: fixed; bottom: 0; left: 0; right: 0; height: 8%; width: 100%;
    font-size: 20px;
    border: solid black;
    background-color: white;
    
}



#lista11:hover {

    background-color: red;
    transition: all;
    font-size: 30px;

}


#lista12:hover {

    background-color: red;
    transition: all;
    font-size: 30px;

}


#lista13:hover {

    background-color: red;
    transition: all;
    font-size: 30px;

}






#lista21:hover {

    background-color: yellow;
    transition: all;
    font-size: 30px;

}

#lista22:hover {

    background-color: yellow;
    transition: all;
    font-size: 30px;

}


#lista31:hover {

    background-color: green;
    transition: all;
    font-size: 30px;

}


#lista32:hover {

    background-color: green;
    transition: all;
    font-size: 30px;

}



#Yksi1 {

    border: solid black;
    background-color: red;
    margin: 20px;
    padding: 20px;
    width: auto;
    

}
    
#Yksi2 {

    border: solid black;
    background-color: red;
    margin: 20px;
    padding: 20px;
    width: auto;
    

}



#Yksi3 {

    border: solid black;
    background-color: red;
    margin: 20px;
    padding: 20px;
    width: auto;
    

}
    


#Kaksi1 {
 
    border: solid black;
    background-color: yellow;
    margin: 20px;  
    padding: 20px;
    width: auto;
    

}



#Kaksi2 {
 
    border: solid black;
    background-color: yellow;
    margin: 20px;  
    padding: 20px;
    width: auto;
    

}

#Kolme1 {
 
    border: solid black;
    background-color: green;
    margin: 20px;
    padding: 20px;
    width: auto;
    

}


#Kolme2 {
 
    border: solid black;
    background-color: green;
    margin: 20px;
    padding: 20px;
    width: auto;
    

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navbar-expand-sm {

    font-size: 10px;
    border: solid;
    background-color: white;
    width: auto;


    }
    


p {

    color: black;
    
        
    }
    


@media only screen and (max-width: 800px) {
    body {
      background-color: black;
      color:  white;


